<section id="banner">
    <article class="full">
      <img src="images/rainbow-veggies.jpg" alt="" data-position="center" />
      <div class="content">
        <h2><a href="#">Beyond Lettuce brings the forgotton food of yesterday to your door.</a></h2>
        <p>
        </p>
        <ul class="actions">
          <li><a href="#" class="button">Learn More</a></li>
        </ul>
      </div>
    </article>
    <!-- Sub Banner - 2 images below main Hero Banner -->
    {%include sub-banner.html%}
</section>
