<section id="banner">
    <article class="full">
      <img src="images/pic01.jpg" alt="" data-position="center" />
      <div class="content">
        <h2><a href="#">This is the banner title.</a></h2>
        <p>This is the teaser text that goes below the banner title and explains all the good stuuf that you will get to read when you click the Learn More button.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn More</a></li>
        </ul>
      </div>
    </article>
    <!-- Sub Banner - 2 images below main Hero Banner -->
    {%include sub-banner.html%}
</section>
