<!-- Features -->
<section id="features">
  <div class="container">
    <header>
      <h2>Beyond Lettuce brings you beautiful, interesting, heirloom, and heritage greens.</h2>
    </header>
    <div class="row aln-center">
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured">
              <img src="images/clamshell-broccoli-small.jpg" alt="" />
              <a class="image-credit" href="https://www.instagram.com/willmartinezjr/" target="_blank">
                credit: @willmartinezjr
              </a>
            </div>
            <header>
              <h3>Current Products</h3>
            </header>
            <p>We have a limited product availability for online ordering. Check our store to see what is available. Follow us on Instagram, or join our Facebook page to get notified when new items are available.</p>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured">
              <img src="images/closed-clamshell.jpg" alt="" />
              <a class="image-credit" href="https://www.instagram.com/willmartinezjr/" target="_blank">
                credit: @willmartinezjr
              </a>
            </div>
            <header>
              <h3>What can we grow for you?</h3>
            </header>
            <p>Our mission at Beyond Lettuce is provide chefs in the DC and N. VA with what you need, when you need it. When that malabar spinach you fell in love with is no longer available from your local market, contact us to grow it for you. Let us be your local garden.</p>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured">
              <img src="images/Dylan-hands-broccoli-small.jpg" alt="" />
              <a class="image-credit" href="https://www.instagram.com/willmartinezjr/" target="_blank">
                credit: @willmartinezjr
              </a>
            </div>
            <header>
              <h3>Our Farm</h3>
            </header>
            <p>Our farm remains focused on those harder-to-find items, heirloom varieties, and heritage greens. We want to preserve those local cultural food traditions we cherish. Our farm is indoors in a warehouse setting using a combination of hydroponic and other indoor systems. We limit ourselves to produce that adapts well to an indoor environment and supplement our light sources with the best grow light technology we can get. Our plant nutrients are developed in-house using worm compost and other organic sources.</p>
          </section>

      </div>
    </div>
  </div>
</section>
