<!-- Features -->
<section id="features">
  <div class="container">
    <header>
      <h2>Beyond Lettuce brings you beautiful, interesting, heirloom, and heritage greens.</h2>
    </header>
    <div class="row aln-center">
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured"><img src="images/pic01.jpg" alt="" /></div>
            <header>
              <h3>Current Products</h3>
            </header>
            <p>We have a limited product availability for online ordering.</p>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured"><img src="images/malabar-spinach.jpg" alt="" /></div>
            <header>
              <h3>Can we grow you something?</h3>
            </header>
            <p>At Beyond Lettuce we provide chefs in the DC and N. VA with more than just mere greens. That amazing malabar spinach is no longer available at your farmer's market? Our faciliy is indoors and grows year-round. Let us know what you're missing and we will grow it for you.</p>
          </section>

      </div>
      <div class="col-4 col-6-medium col-12-small">

        <!-- Feature -->
          <section>
            <div class="image featured"><img src="images/farmwall.jpg" alt="" /></div>
            <header>
              <h3>How do we grow indoors?</h3>
            </header>
            <p>We grow indoors in a warehouse setting using a combination of hydroponics and other indoor systems. We limit ourselves to produce that adapts well to an indoor environment and supplement our light sources with the best grow light technology we can get. Our plant nutrients are developed in-house using worm compost and other organic sources.</p>
          </section>

      </div>
    </div>
  </div>
</section>
