<!-- Footer -->
<footer id="footer">
  <div class="container">
    <header>
      <h2>Stay in touch:</h2>
    </header>
    <div class="row">
      <div class="col-6 col-12-medium">
        <section>
          <div class="row">
            <div class="col-6 col-12-small">
              <ul class="icons">
                <li class="icon solid fa-home">
                  Alexandria, VA USA
                </li>
                <li class="icon solid fa-envelope">
                  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-12-small">
              <ul class="icons">
                <li class="icon brands fa-instagram">
                  <a href="https://www.instagram.com/{{ site.instagram_username }}">instagram.com/{{ site.instagram_username }}</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div id="copyright" class="container">
    <ul class="links">
      <li>&copy; {{ site.title }}. All rights reserved.</li>
    </ul>
  </div>
</footer>
