<!-- Post -->
  <section class="main special">
    <div class="inner">
      <header class="major">
        <span class="category">In Depth</span>
        <h2><a href="#">Etiam feugiat tempus veroeros lorem</a></h2>
        <ul class="meta">
          <li>3 days ago</li>
          <li><a href="#" class="favorites">2,174</a></li>
          <li><a href="#" class="comments">1,423</a></li>
        </ul>
      </header>
      <a href="#" class="image main"><img src="images/pic04.jpg" alt="" /></a>
      <p>In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non. Phasellus libero nibh, erat blandit, aliquet volutpat purus. Nullam pretium sed turpis lorem, ac congue orci. Donec pulvinar sagittis pellentesque. In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non.</p>
      <footer>
        <ul class="actions">
          <li><a href="#" class="button">Full Story</a></li>
        </ul>
      </footer>
    </div>
  </section>
