<section id="product-header">
  <div class="container">
    <h2>COVID-19 Update</h2>
    <p>During this time, we have added home delivery to our services. We are humbled to join with our partners in the food and agriculture sector filling critical and essential roles within our community. We have the ability to continue to work during periods of restriction, social distancing, and closure orders, among others, and consider access to healthy food options as crucial to community continuity and community resilience. </p>
    <h2>Our Microgreens</h2>
    <p>Our microgreens are delivered live and not pre-harvested. Eating microgreens is generally considered safe. Microgreens require less warm and humid conditions than sprouts do, and only the leaf and stem, rather than the root and seed, are consumed. Wait to harvest until just before eating. Wash and dry your greens before using. Microgreens can be enjoyed raw or cooked.</p>
    <p>To care for live microgreens, keep them in some sunlight near a window. Check regularly each day and ensure the underside of the mat is lightly misted with water. Do not let them dry out, and do not let any standing water sit in the tray. If you do have harvested leftovers, roll them in a paper towel and store in an air-tight container or bag and keep in fridge.</p>
  </div>
</section>
