<!-- Two -->
  <article class="half">
    <img src="images/pic02.jpg" alt="" data-position="center" />
    <div class="content">
      <h2><a href="#">Aliquam veroeros</a></h2>
      <p>Dolor sit amet tempus adipiscing amet sed aliquam feugiat veroeros lorem ipsum dolor sit amet consequat.</p>
      <ul class="actions">
        <li><a href="#" class="button">Full Story</a></li>
      </ul>
    </div>
  </article>

<!-- Three -->
  <article class="half">
    <img src="images/pic03.jpg" alt="" data-position="center" />
    <div class="content">
      <h2><a href="#">Tempus sed magna</a></h2>
      <p>Dolor sit amet tempus adipiscing amet sed aliquam feugiat veroeros lorem ipsum dolor sit amet consequat.</p>
      <ul class="actions">
        <li><a href="#" class="button">Full Story</a></li>
      </ul>
    </div>
  </article>
