<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="homepage is-preload">
		<div id="page-wrapper">

      {%- include header.html -%}

      {%- include store-product-listing.html -%}

      {{ content }}

      {%- include footer.html -%}

		</div>

    <div id="snipcart" data-api-key="NDEzY2M4NzYtY2VmZi00YTBlLThhN2QtN2E5ZGYwMWRmMjQyNjM3MjA0MjQyNzk2ODIxNzI4" hidden></div>
    <script src="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.js"></script>

	</body>

</html>
