---
layout: default

---

<!-- Main Hero Banner -->
{% include banner.html %}




<!-- Main -->
  <div id="main">

    <!-- MAIN Post -->
      <section class="main special">
        <div class="inner">
          <header class="major">
            <span class="category">In Depth</span>
            <h2><a href="#">{{page.title}}</a></h2>
            <ul class="meta">
              <li>14 September</li>
              <li><a href="#" class="favorites">18</a></li>
              <li><a href="#" class="comments">4 Comments</a></li>
            </ul>
          </header>
          <a href="#" class="image main"><img src="images/pic04.jpg" alt="" /></a>
          <p>{{page.hero-excerpt}}</p>
          <footer>
            <ul class="actions">
              <li><a href="{{page.link}}" class="button">Full Story</a></li>
            </ul>
          </footer>
        </div>
      </section>

    <!-- Posts -->
      <section class="main">
        <div class="posts">
          <article>
            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Mauris vitae</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Dapibus nulla</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Dictum veroeros</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Lorem sed magna</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Vitae adipiscing</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
          <article>
            <a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
            <header>
              <h2><a href="#">Aliquam phasellus</a></h2>
              <ul class="meta">
                <li>3 days ago</li>
                <li><a href="#" class="favorites">2,174</a></li>
                <li><a href="#" class="comments">1,423</a></li>
              </ul>
            </header>
            <p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Full Story</a></li>
              </ul>
            </footer>
          </article>
        </div>
      </section>
  </div>
